* {
    font-family: sans-serif;
}

:root {
    --main-color: #8367D8;
    --border-color: #D8D8D8;
    --background-color: #FCFCFC;
}

h5 {
    font-size: 24px;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
}

#login-container {
    padding: 0 0 20px;
    margin-top: 30px;
    border: 1px solid var(--border-color);
}

.MuiInputBase-root {
    color: #9B9B9B;
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.MuiButton-root,
.MuiInputBase-root {
    border-radius: 0;
    height: 3.5em;
}

#social-media-stack .MuiButton-root {
    width: 50%;
    border-color: var(--border-color);
    text-transform: capitalize;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.MuiCheckbox-root {
    padding-left: 0;
    color: var(--border-color);
}

#passwordBtn,
.standardText {
    text-transform: none;
}

#registerInfoLabel {
    color: #9B9B9B;
    justify-content: center;
}