@use "base";

.add-item-basic-info {
  .image-upload-container {
    padding: 10px 10px;
    border: 1px dashed base.$border-color;
    min-height: 300px;
    background-color: #FCFCFC;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .label-btn {
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize;
    }

    .info-label {
      color: #9B9B9B;
      font-size: 14px;
      padding-top: 20px;
    }

    .image-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: start;
      gap: 10px;
    }
  }

  .nav-buttons {
    width: 50%;
  }

  .category-select {
    width: 50%;
  }

  .category-select label {
    color: #252525;
  }

  .category-select label.Mui-focused {
    color: base.$primary-color;
  }
}