$primary-color: #8367D8;
$border-color: #D8D8D8;
$background-color: #FCFCFC;
$main-width: 80%;

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.main-page-content-container {
  width: $main-width;
  margin: 150px auto 0 auto;
}