.bread-crumbs-bar-container {
  background: #FCFCFC;

  .bread-crumbs-bar-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    font-weight: 400;
    font-size: 16px;
  }

  a, p {
    display: inline;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: #9B9B9B;
  }

  a:last-child {
    color: #8367D8;
    font-weight: 700;
    font-size: 16px;
  }
}