.custom-alert-container {
  margin-bottom: 20px;

  .MuiAlert-message {
    width: 82%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 500;

    .strong {
      font-weight: 700;
    }
  }
}