@use "base";

.home-product-tabs-container {
  .home-product-tabs-content-container {
    width: 80%;
    margin: auto;

    .tab-selector {
      border-bottom: 1px solid base.$border-color;
      margin-bottom: 10px;
    }

    .tab-selector-btn,
    .tab-selector-btn-active {
      color: black;
      text-transform: capitalize;
      padding-left: 0;
      padding-right: 10px;
      margin-right: 40px;
    }

    .tab-selector-btn {
      font-size: 20px;
      font-weight: 400;
    }

    .tab-selector-btn-active {
      font-size: 24px;
      font-weight: 700;
      border-bottom: 2px solid base.$primary-color;
      border-radius: 0;
    }

    .loading-label {
      color: #9B9B9B;
      text-align: center;
    }
  }
}