@use "base";

.home-page-main-container {
  background-color: base.$background-color;

  .home-page-main-content-container {
    width: base.$main-width;
    margin: auto;
  }

  .category-selector {
    h3 {
      color: base.$primary-color;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .category {
      padding: 16px;
      border-radius: 0;
      color: #252525;
    }

    .category:hover {
      cursor: pointer;
      background-color: rgba(25, 118, 210, 0.04);
    }
  }

  .highlighted-product-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;

    .product-details-container {
      width: 42%;
    }

    .product-name,
    .product-start-price {
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .product-start-price {
      color: base.$primary-color
    }

    .product-description {
      color: #9B9B9B;
      margin-bottom: 50px;
    }

    .bid-now-btn {
      border: 3px solid base.$primary-color;
      border-radius: 0;
      color: #252525;
      padding: 10px 45px 10px 40px;
      font-size: 18px;
    }
  }
}