@use "base";

.navbar-top-container {
  background-color: #252525;

  .navbar-top-content-container {
    width: base.$main-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  p.gray {
    color: #9B9B9B;
    margin-left: 10px;
    margin-right: 10px;
  }

  p.gray,
  p.white {
    display: inline;
  }

  p.white,
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

  a:hover {
    color: #8367D8;
  }
}