.navbar-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #252525;
  padding: 5px 200px 5px 200px;

  p.gray {
    color: #9B9B9B;
  }

  p.gray,
  p.white {
    display: inline;
  }

  p.white,
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

  a:hover {
    color: #8367D8;
  }
}