@use "base";

.navbar-bottom-container {
  width: base.$main-width;
  margin: auto;
  img:hover {
    cursor: pointer;
  }

  .search-navigation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    .search-bar {
      width: 74%;
      border-radius: 0;
      border-color: #E3E3E3;
      color: #9B9B9B;
    }

    a {
      text-decoration: none;
      color: #252525;
      font-weight: 300;
      font-size: 16px;
    }

    a:hover {
      color: #8367D8;
    }
  }
}