@use "base";

.product-overview-container {
  .product-overview-content-container {
    width: base.$main-width;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    .product-info,
    .product-image-gallery {
      flex-basis: 50%;
    }
  }
}