@use "base";

.shop-products-grid-container {
  .sort-and-layout-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .sort-select {
      color: #252525;
      border-radius: 0;
      width: 35%;
    }

    .MuiButton-root {
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
    }

    #grid-layout-btn {
      margin-right: 20px;
    }
  }

  .explore-more-container {
    text-align: center;
    margin: 50px auto 40px auto;

    .MuiButton-root {
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 700;
      width: 30%;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 0;
    }
  }
}