@use "base";

.static-page-container {
  width: base.$main-width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;

  .text-container {

    .heading-1,
    .heading-2 {
      font-weight: 400;
    }

    .heading-1 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .heading-2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .text {
      font-size: 16px;
      color: #9B9B9B;
      margin-bottom: 20px;
    }
  }

  .custom-width {
    flex-basis: 50%;
  }
}